.git
.github
.cursor
.idea
.vercel
.vscode

.env
.env.*
!.env.example
!.env.local.example

node_modules
**/node_modules
.next
**/.next
.turbo
**/.turbo
dist
**/dist
coverage
playwright-report
test-results
*.log
